<header class="site-header">
  <div class="container site-header-inner">
    <a class="brand" href="/"
      ><img src="/static/logo.svg" width="36" alt="HackFlare" /><span
        >HackFlare</span
      ></a
    >
    <nav class="site-nav">
      <a href="/#features">Features</a><a href="/#how-it-works">How it works</a
      ><a href="/ourteam">Team</a><a href="/docs">Docs</a>
    </nav>
    <div class="site-actions">
      <button class="theme-toggle" data-theme-toggle type="button" aria-label="Toggle dark mode">🌙</button
      ><a class="site-link-secondary" href="https://github.com/Hack-Flare/hackflare">GitHub</a
      ><a class="site-link-secondary" href="/dash">Sign in</a
      ><a class="btn btn-orange" href="/dash">Get Started</a>
    </div>
  </div>
</header>
