# Example .env, the Passwords and API Keys are not real, please replace them with your own values.
# General API Configuration
API_BIND_ADDR="0.0.0.0:8080"
API_DNS_BIND_ADDR="0.0.0.0:5353"
API_CLIENT_IP_SOURCE="ConnectInfo"
API_ENVIRONMENT="development"
API_AUTO_MIGRATE=false

# Generate a high-entropy JWT secret (32+ random bytes), for example:
# openssl rand -base64 32
API_JWT_SECRET="CC+GwABTHe/pCrp402AvRePRNAfHJMPHawfVTvP0M+0="

# Hack Club Auth
API_HCA_CLIENT_ID="your_hackclub_client_id"
API_HCA_CLIENT_SECRET="your_hackclub_client_secret"
API_HCA_REDIRECT_URI="http://localhost:3000/api/v1/auth/callback"

# Database
DATABASE_URL="postgres://hackflare:hackflare@db:5432/hackflare"

# Postgres
POSTGRES_USER=hackflare
POSTGRES_PASSWORD=hackflare
POSTGRES_DB=hackflare

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=adminpassword
