# Example .env, the Passwords and API Keys are not real, please replace them with your own values.
BACKEND_EMAIL_FROM_NAME=Hackflare
BACKEND_EMAIL_FROM_ADDRESS=no-reply@hackflare.kirze.de
BACKEND_EMAIL_REPLY_TO=support@hackflare.kirze.de
BACKEND_EMAIL_SMTP_HOST=smtp.resend.com
BACKEND_EMAIL_SMTP_PORT=587
BACKEND_EMAIL_SMTP_USERNAME=resend
BACKEND_EMAIL_SMTP_PASSWORD=re_....
BACKEND_EMAIL_SMTP_STARTTLS=true