# Example .env, the Passwords and API Keys are not real, please replace them with your own values.

# Email Stuff
BACKEND_EMAIL_FROM_NAME=Hackflare
BACKEND_EMAIL_FROM_ADDRESS=no-reply@hackflare.kirze.de
BACKEND_EMAIL_REPLY_TO=support@hackflare.kirze.de
BACKEND_EMAIL_SMTP_HOST=smtp.resend.com
BACKEND_EMAIL_SMTP_PORT=587
BACKEND_EMAIL_SMTP_USERNAME=resend
BACKEND_EMAIL_SMTP_PASSWORD=re_....
BACKEND_EMAIL_SMTP_STARTTLS=true

# Hack Club Auth
BACKEND_HACKCLUB_CLIENT_ID=your-hackclub-client-id
BACKEND_HACKCLUB_CLIENT_SECRET=your-hackclub-client-secret
BACKEND_HACKCLUB_REDIRECT_URI=http://localhost:8080/api/v1/auth/hackclub/callback
BACKEND_HACKCLUB_SCOPES=openid profile email