<div class="dash-page">
  <h1>Help</h1>
  <p class="dash-sub">Get support from the HackFlare team</p>
  <div class="card card-spaced">
    <div class="card-header"><h3 class="card-title">Contact Support</h3></div>
    <div class="card-content">
      <form method="post" action="/dash/help" class="flex flex-col gap-3">
        <textarea
          class="input textarea-large"
          name="message"
          placeholder="How can we help?"
          required
        ></textarea
        ><button class="btn btn-orange" type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
