<footer class="site-footer">
  <div class="container">
    <div class="site-footer-grid">
      <div>
        <h4>Product</h4>
        <ul>
          <li><a href="/#features">Features</a></li>
          <li><a href="/docs">Documentation</a></li>
        </ul>
      </div>
      <div>
        <h4>Legal</h4>
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Terms</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div>
    </div>
    <div class="site-footer-bottom">
      <div class="brand">
        <img src="/static/logo.svg" width="24" alt="HackFlare" /><span
          >HackFlare</span
        >
      </div>
      <p>© 2026 HackFlare. All rights reserved.</p>
      <a href="https://github.com/Hack-Flare/hackflare">GitHub</a>
    </div>
  </div>
</footer>
